{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block main_content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- Large Title -->
            <h1 class="display-4 mb-4">Riyadh Vision - Login</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Login form card -->
            <div class="card">
                <h5 class="card-header primary-color white-text text-center py-4">
                    <strong>Login</strong>
                </h5>
                {% if messages %}
                <div class="alert alert-danger">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}


                <!-- Card body -->
                <div class="card-body px-lg-5 pt-0 mt-5">
                    <!-- Form -->

                    <form class="text-center" style="color: #757575;" method="POST" action="{% url 'app:login' %}">
                        {% csrf_token %}
                        <!-- Email -->
                        <div class="md-form">
                            <input type="email" id="email" name="email" class="form-control" required>
                            <label for="email">E-mail</label>
                        </div>

                        <!-- Password -->
                        <div class="md-form">
                            <input type="password" id="password" name="password" class="form-control" required>
                            <label for="password">Password</label>
                        </div>

                        <!-- Login button -->
                        <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Login</button>

                        <!-- Social login -->
                        <p>or login with:</p>
                        <a href="#" class="btn btn-floating btn-fb mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="btn btn-floating btn-tw mx-1">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-floating btn-li mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#" class="btn btn-floating btn-git mx-1">
                            <i class="fab fa-github"></i>
                        </a>

                        <hr>

                        <!-- Forgot password -->
                        <p>
                            <a href="{% url 'app:report-options' %}">Forgot Password?</a>
                        </p>
                    </form>
                    <!-- Form -->
                </div>
            </div>
            <!-- Login form card -->
        </div>
    </div>
</div>
{% endblock main_content %}








